:root{
    /* Colores */
    --BtnColor : #E5720B;
    --Fondo: #8D7697;
    --FondoInicio1: #0D0D2B;
    --FondoInicio2: #726D89;
    --FondoInicio3: #531CB3;
    --BtnCambios : #E5E5E5;
    --ColorBeneficios1: #4B088A;
    --ColorBeneficios2: #FFFFFF;
}