@import "./styleInicio.css";
@import "./styleMoneda.css";
@import "./styleBeneficios.css";
@import "./stylePlanes.css";

:root {
  /* Colores */
  --BtnColor: #e5720b;
  --Fondo: #8d7697;
  --FondoInicio1: #0d0d2b;
  --FondoInicio2: #726d89;
  --FondoInicio3: #531cb3;
  --BtnCambios: #e5e5e5;
  --ColorBeneficios1: #4b088a;
  --ColorBeneficios2: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
}

body {
  background: linear-gradient(
    180deg,
    #0d0d2b 35.42%,
    rgba(114, 109, 137, 0.92) 58.85%,
    rgba(83, 28, 179, 0.78) 93.23%
  );
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}
a:hover {
  color: #531cb3;
}
